@charset "ISO-8859-1";
* {
    margin: 0;
    padding: 0;
}

html{
	background-color: #e9ecef;
}


#mytb {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width:100%;
}


#mytb td, #mytb th {
	border: 1px solid #ddd;
	padding: 8px;
	text-transform: capitalize;
}

#mytb tr:nth-child(even) {
	background-color: #f2f2f2;
}

#mytb tr:hover {
	background-color: #ddd;
}

#mytb th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #149693;
	color: white;
}

#mytb td {
	padding:4px;
	text-align: left;
}

.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

a {
	all: unset;
}

input[type=text], input[type=number],input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 100%;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
/* 
input[type=submit]:hover {
	background-color: #45a049;
} */

.update,.primary{
	background-color: #0275d8;
}
.update:hover,.primary:hover{
	background-color: #0161b8;
}

.success{
	background-color: #5cb85c;
}
.success:hover{
	background-color: #47a347;
}
.delete{
	background-color: #d9534f;
}

.delete:hover{
	background-color: #d0312d;
}

/*
*	NAV
*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 10%;
  padding-right: 10%;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

/*
*	other
*/

.errorText {
	color: #cc2f13;
}